:root {
    font-family: "edita", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --docy: 0;
    --heady: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}


p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

dl {
    list-style: none;
    margin: 0;
}

dd {
    margin: 0;
}

details summary {
    list-style: none;
    cursor: pointer;
}

details summary::-webkit-details-marker {
    display:none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgba(0, 26, 255, 1);
    text-decoration: underline;
}

strong {
    font-weight: normal;
    text-transform: uppercase;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
}

.wrapper > * {
    display: grid;
    place-content: center;
    text-align: center;
    font-size: clamp( 1rem, 3vw, 2.5rem );
    line-height: 1.2;
    padding: 1rem;
}

.header h1 {
    text-transform: uppercase;
    font-weight: 700;
}

.header h1 #bio {
    font-style: italic;
    font-weight: 400;
}

.header .contactlinks {
    display: inline-flex;
    justify-content: center;
}

.header .contactlinks #whatsapp {
    background-image: url(https://i.ibb.co/xKZkYDB/whatsapp-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5%;
    min-width: 2rem;
    min-height: 2rem;
}

.header .contactlinks #email {
    background-image: url(https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA5L2pvYjEyMzItZWxlbWVudC0wMi1wXzEucG5n.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 2rem;
    min-height: 2rem;
}

.header .contactlinks #github {
    background-image: url(https://cdn-icons-png.flaticon.com/512/25/25231.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5%;
    min-width: 2rem;
    min-height: 2rem;
}

.thumb-over {
    display: none;
    position: absolute;
    width: 488px;
    height: 326px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

body.has-thumb .thumb-over {
    display: block;
}

body.has-thumb.bog .thumb-over {
    background-image: url("bog.png");
}

body.has-thumb.gpe .thumb-over {
    background-image: url("gpe.png");
}

body.has-thumb.onewhale .thumb-over {
    background-image: url("onewhale.png");
}

body.has-thumb.dtc .thumb-over {
    background-image: url("dtc.png");
}

body.has-thumb.readingrainbow .thumb-over {
    background-image: url("readingrainbow.png");
}

@media ( min-width: 641px ) {
    html, body {
        overflow: hidden;
    }
}

@media ( max-width: 640px ) {
    .wrapper {
        grid-template-columns: 1fr;
        min-height: 0;
        padding: 2rem 0;
    }
}

@media ( hover: hover ) {
    .project-link a {
        cursor: none;
    }
}